
[Unit]
Description=theairtraffic-mlat
Wants=network.target
After=network.target

[Service]
User=theairtraffic
ExecStart=/usr/local/share/theairtraffic/theairtraffic-mlat.sh
Type=simple
Restart=always
RestartSec=30
StartLimitInterval=1
StartLimitBurst=100
SyslogIdentifier=theairtraffic-mlat
Nice=-1

[Install]
WantedBy=default.target
